<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../css/home.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="../css/styles.css" type="text/css" media="all">
    <title>Pricipal Los roperos</title>
</head>
    <body>
        <%- include('./partials/header') %>
            <Div>
                <h2>Listado de productos</h2>
                    <ul>
                        <% for (let i =0; i< products.length; i++){ %>
                            <% if (products[i].imgProduct !== ''){ %>
                                    <li>
                                        <a href="/products/detail/<%=products[i].id %>" ><img src="/images/products/<%=products[i].imgProduct%>" alt="Foto de producto"  width="150px" > </a>
                                        <br>
                                        <%=products[i].name %>
                                        <br>
                                        <%=products[i].price %>                               
                                </li>
                                <% }else{ %>
                                    <li>
                                        <a href="/products/detail/<%=products[i].id %>" ><img src="/images/products/noImgDefault.jpg" alt="Foto de producto"  width="150px" > </a>
                                        <br>
                                        <%=products[i].name %>
                                        <br>
                                        <%=products[i].price %>                               
                                    </li>
                             <% } %>    
                        <% } %>
                    </ul>                        
                </Div>
    
        <%- include('./partials/footer') %>
    </body>
    
</html>
