<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title> Registro usuario </title>
</head>
<body class='registro_Body'>
    <%-include ("./partials/header.ejs")%>
    <%-include ("./partials/banner.ejs")%>
    <div class="registro_Contenedor_Global">
    <form action="/user/register" method="POST" enctype = "multipart/form-data" class="registro_Form_Registro">
            <h2 class="registro_H2">Registro de Usuario</h2>
            <input class="registro_input-formulario" type="text" name="firstName" placeholder="Nombre"  value="<%= locals.oldData ? oldData.firstName :null %>">
            <% if (locals.errors && errors.firstName) { %>
                <p style="color: red"><%= errors.firstName.msg %></p>
            <% } %>
            <input class="registro_input-formulario" type="text" name="lastName" placeholder="Apellido" value="<%= locals.oldData ? oldData.lasttName :null %>">
            <% if (locals.errors && errors.lastName) { %>
                <p style="color: red"><%= errors.lastName.msg %></p>
            <% } %>
            <input class="registro_input-formulario" type="text" name="user" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.user :null %>">
            <% if (locals.errors && errors.user) { %>
                <p style="color: red"><%= errors.user.msg %></p>
            <% } %>
            <input class="registro_input-formulario" type="email" name="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email :null %>">
            <% if (locals.errors && errors.email) { %>
                <p style="color: red"><%= errors.email.msg %></p>
            <% } %>
            <input class="registro_Contraseña" type="password" name="pass" placeholder="Elegí tu contraseña">
            <input class="registro_Contraseña" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
            <br>
            <br>
            <label class="checkbox_Registro" for="birth_date" id='registro_cumpleaños'><b><h4>Fecha de nacimiento</h4></b></label>
            <input class="registro_input-formulario" type="date" name="birth_date" id="birth_date">
            <input class="registro_input-formulario" type="text" name="address" placeholder="Domicilio">
            <input type="file" name="avatar" accept=".jpg">
            <% if (locals.errors && errors.address) { %>
                <p style="color: red"><%= errors.address.msg %></p>
            <% } %>
            <% if (locals.errors && errors.avatar) { %>
                <p style="color: red"><%= errors.avatar.msg %></p>
            <% } %>
            <br>
            <br>
            <input class="registro_Input-casilla" type="submit" value="Enviar">
            <input class="registro_Input-casilla" type="reset" value="Borrar">
            <br>
            <br>
        </form>
    </div>
<%-include ("./partials/footer.ejs")%>          
</body>


</html>